---
http_interactions:
- request:
    method: get
    uri: https://customer-api.open-meteo.com/v1/forecast?apikey=123-test&current=weather_code&daily=weather_code&hourly=weather_code&latitude=0.5252e2&longitude=0.1341e2&minutely_15=weather_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":52.52,"longitude":13.419998,"generationtime_ms":0.05996227264404297,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":38.0,"current_units":{"time":"iso8601","interval":"seconds","weather_code":"wmo
        code"},"current":{"time":"2024-01-24T08:30","interval":900,"weather_code":80},"minutely_15_units":{"time":"iso8601","weather_code":"wmo
        code"},"minutely_15":{"time":["2024-01-24T00:00","2024-01-24T00:15","2024-01-24T00:30","2024-01-24T00:45","2024-01-24T01:00","2024-01-24T01:15","2024-01-24T01:30","2024-01-24T01:45","2024-01-24T02:00","2024-01-24T02:15","2024-01-24T02:30","2024-01-24T02:45","2024-01-24T03:00","2024-01-24T03:15","2024-01-24T03:30","2024-01-24T03:45","2024-01-24T04:00","2024-01-24T04:15","2024-01-24T04:30","2024-01-24T04:45","2024-01-24T05:00","2024-01-24T05:15","2024-01-24T05:30","2024-01-24T05:45","2024-01-24T06:00","2024-01-24T06:1[...]
