---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current=weather_code&daily=weather_code&hourly=weather_code&latitude=0.5252e2&longitude=0.1341e2&minutely_15=weather_code&models=best_match
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":52.52,"longitude":13.419998,"generationtime_ms":0.09500980377197266,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":38.0,"current_units":{"time":"iso8601","interval":"seconds","weather_code":"wmo
        code"},"current":{"time":"2023-11-13T10:45","interval":900,"weather_code":3},"minutely_15_units":{"time":"iso8601","weather_code":"wmo
        code"},"minutely_15":{"time":["2023-11-13T00:00","2023-11-13T00:15","2023-11-13T00:30","2023-11-13T00:45","2023-11-13T01:00","2023-11-13T01:15","2023-11-13T01:30","2023-11-13T01:45","2023-11-13T02:00","2023-11-13T02:15","2023-11-13T02:30","2023-11-13T02:45","2023-11-13T03:00","2023-11-13T03:15","2023-11-13T03:30","2023-11-13T03:45","2023-11-13T04:00","2023-11-13T04:15","2023-11-13T04:30","2023-11-13T04:45","2023-11-13T05:00","2023-11-13T05:15","2023-11-13T05:30","2023-11-13T05:45","2023-11-13T06:00","2023-11-13T06:1[...]
