---
http_interactions:
- request:
    method: get
    uri: https://geocoding-api.open-meteo.com/v1/search?count=20&name=Hollywood
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-encoding-time:
      - 0.008296966552734375 ms
    body:
      encoding: UTF-8
      string: '{"results":[{"id":4158928,"name":"Hollywood","latitude":26.0112,"longitude":-80.14949,"elevation":3.0,"feature_code":"PPL","country_code":"US","admin1_id":4155751,"admin2_id":4149007,"timezone":"America/New_York","population":149728,"postcodes":["33019","33020","33021","33022","33023","33024","33025","33026","33027","33029","33081","33083"],"country_id":6252001,"country":"United
        States","admin1":"Florida","admin2":"Broward"},{"id":5357527,"name":"Hollywood","latitude":34.09834,"longitude":-118.32674,"elevation":108.0,"feature_code":"PPLX","country_code":"US","admin1_id":5332921,"admin2_id":5368381,"timezone":"America/Los_Angeles","population":167664,"country_id":6252001,"country":"United
        States","admin1":"California","admin2":"Los Angeles"},{"id":4582042,"name":"Hollywood","latitude":32.73434,"longitude":-80.24177,"elevation":13.0,"feature_code":"PPL","country_code":"US","admin1_id":4597040,"admin[...]
